{% extends 'base.html' %}
{% load static %}

{% block borrowings %}
<main>
    <h1>Emprunts</h1>
    <section id="borrowing-media-section">
        <h2>Nouvel emprunt</h2>
        <form action="" method="post" novalidate>
            {% csrf_token %}
            {{ borrowing_media_form.media_id.label_tag }}
            {{ borrowing_media_form.media_id }}
            {{ borrowing_media_form.media_id.errors }}
            <p>Détails du média :</p>
            <div id="media-info-borrow"></div>
            {{ borrowing_media_form.member_id.label_tag }}
            {{ borrowing_media_form.member_id }}
            {{ borrowing_media_form.member_id.errors }}
            <p>Nom et prénom de l'emprunteur :</p>
            <div id="member-info-borrow"></div>
            <input type="submit" name="submit_borrowing" value="Enregistrer l'emprunt">
        </form>
        {% if request.GET.success == 'borrowing_media' %}
        <p class="success">Emprunt bien enregistré</p>
        {% endif %}
        {% if request.GET.error_member == 'borrowing_media' %}
        <p class="error">L'identifiant renseigné ne correspond à aucun membre enregistré</p>
        {% endif %}
        {% if request.GET.error_blocked == 'borrowing_media' %}
        <p class="error">Ce membre ne peut pas emprunter car il est interdit d'emprunt (il est en retard sur un emprunt à son nom)</p>
        {% endif %}
        {% if request.GET.error_too_much_borrowings == 'borrowing_media' %}
        <p class="error">Ce membre ne peut pas emprunter car il a déjà 3 emprunts à son nom</p>
        {% endif %}
        {% if request.GET.error_media_type == 'borrowing_media' %}
        <p class="error">Ce type de média n'existe pas dans notre base de données</p>
        {% endif %}
        {% if request.GET.error_not_available == 'borrowing_media' %}
        <p class="error">Ce média est déjà emprunté par un autre membre pour le moment</p>
        {% endif %}
        {% if request.GET.error_media == 'borrowing_media' %}
        <p class="error">L'identifiant renseigné ne correspond à aucun média enregistré</p>
        {% endif %}
    </section>
    <section id="return-media-section">
        <h2>Retour d'emprunt</h2>
        <form action="" method="post" novalidate>
            {% csrf_token %}
            {{ return_media_form.member_id.label_tag }}
            {{ return_media_form.member_id }}
            {{ return_media_form.member_id.errors }}
            <div id="member-info-return"></div>
            {{ return_media_form.media_id.label_tag }}
            {{ return_media_form.media_id }}
            {{ return_media_form.media_id.errors }}
            <div id="no-media-return"></div>
            <input type="submit" name="submit_return" value="Enregistrer le retour">
        </form>
        {% if request.GET.success == 'return_media' %}
        <p class="success">Retour bien enregistré</p>
        {% endif %}
        {% if request.GET.error_member == 'return_media' %}
        <p class="error">L'identifiant renseigné ne correspond à aucun membre enregistré</p>
        {% endif %}
        {% if request.GET.error_media_type == 'return_media' %}
        <p class="error">Ce type de média n'existe pas dans notre base de données</p>
        {% endif %}
        {% if request.GET.error_media == 'return_media' %}
        <p class="error">L'identifiant renseigné ne correspond à aucun média enregistré</p>
        {% endif %}
    </section>
    <section>
        <h2>Liste des emprunts</h2>
        <label for="borrowing-search-bar">Rechercher</label>
        <input type="text" name="borrowing_search_bar" id="borrowing-search-bar">
        <table>
            <thead>
                <tr>
                    <th>Type de média</th>
                    <th>Identifiant</th>
                    <th>Nom</th>
                    <th>Auteur / Réalisateur / Artiste / Créateur</th>
                    <th>Date d'emprunt</th>
                    <th>Date de retour d'emprunt</th>
                    <th>Emprunteur</th>
                </tr>
            </thead>
            <tbody>
            {% for media in medias_borrowed %}
                <tr class="borrowing">
                    <td>{{ media.type }}</td>
                    <td>{{ media.pk }}</td>
                    <td>{{ media.name }}</td>
                    <td>{{ media.author }}</td>
                    <td>{{ media.borrowing_date }}</td>
                    <td>{{ media.return_date }}</td>
                    <td>{{ media.borrower.first_name }} {{ media.borrower.last_name }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </section>
</main>
{% if anchor %}
<script defer>window.location.hash = '{{ anchor }}';</script>
{% endif %}
{% endblock %}

{% block script_borrowing_detail %}
<script src="{% static 'js/borrowing_detail.js' %}" defer></script>
{% endblock %}