{% extends 'base.html' %}
{% load static %}

{% block media_management %}
<main>
    <h1>Gestion des médias de la base de données</h1>
    <section>
        <h2>Ajouter un livre à la base de données</h2>
        <form action="" method="post" novalidate>
            {% csrf_token %}
            {{ create_book }}
            <input type="submit" name="submit_create_book" value="Enregistrer">
        </form>
    </section>
    <section>
        <h2>Supprimer un livre de la base de données</h2>
        <form action="" method="post" novalidate>
            {% csrf_token %}
            {{ delete_book }}
            <p>Titre et auteur du livre à supprimer :</p>
            <div id="book-info-delete"></div>
            <input type="submit" name="submit_delete_book" value="Supprimer">
        </form>
    </section>
    <section>
        <h2>Modifier un livre de la base de données</h2>
        <form action="" method="post" novalidate>
            {% csrf_token %}
            {{ update_book }}
            <div id="book-error-update"></div>
            <input type="submit" name="submit_update_book" value="Modifier">
        </form>
    </section>
</main>
{% endblock %}

{% block script_book_detail %}
<script src="{% static 'js/book_detail.js' %}" defer></script>
{% endblock %}