{% extends 'base.html' %}
{% load static %}

{% block media_management %}
<main>
    <h1>Gestion des médias de la base de données</h1>
    <section id="create-media-section">
        <h2>Ajouter un média à la base de données</h2>
        <form action="" method="post" novalidate>
            {% csrf_token %}
            {{ create_media }}
            <input type="submit" name="submit_create_media" value="Enregistrer">
        </form>
        {% if request.GET.success == 'create_media' %}
        <div style="color: green;">Nouveau média enregistré</div>
        {% endif %}
        {% if request.GET.error_media_type == 'create_media' %}
        <div style="color: red;">Ce type de média n'existe pas dans notre base de données</div>
        {% endif %}
    </section>
    <section id="delete-media-section">
        <h2>Supprimer un média de la base de données</h2>
        <form action="" method="post" novalidate>
            {% csrf_token %}
            {{ delete_media }}
            <p>Nom et auteur / artiste / réalisateur / créateur du média à supprimer :</p>
            <div id="media-info-delete"></div>
            <input type="submit" name="submit_delete_media" value="Supprimer">
        </form>
        {% if request.GET.success == 'delete_media' %}
        <p style="color: green;">Média supprimé</p>
        {% endif %}
        {% if request.GET.error == 'delete_media' %}
        <p style="color: red;">L'identifiant renseigné ne correspond à aucun livre, cd ou dvd</p>
        {% endif %}
        {% if request.GET.error == 'delete_parlour_game' %}
        <p style="color: red;">L'identifiant renseigné ne correspond à aucun jeu de société</p>
        {% endif %}
        {% if request.GET.error == 'delete_media_type' %}
        <div style="color: red;">Ce type de média n'existe pas dans notre base de données</div>
        {% endif %}
    </section>
    <section id="update-media-section">
        <h2>Modifier un média de la base de données</h2>
        <form action="" method="post" novalidate>
            {% csrf_token %}
            {{ update_media }}
            <div id="media-error-update"></div>
            <input type="submit" name="submit_update_media" value="Modifier">
        </form>
        {% if request.GET.success == 'update_media' %}
        <p style="color: green;">Les modifications apportées ont bien été enregistrées</p>
        {% endif %}
        {% if request.GET.error == 'update_media' %}
        <p style="color: red;">L'identifiant renseigné ne correspond à aucun livre, cd ou dvd enregistré</p>
        {% endif %}
        {% if request.GET.error == 'update_parlour_game' %}
        <p style="color: red;">L'identifiant renseigné ne correspond à aucun jeu de société enregistré</p>
        {% endif %}
        {% if request.GET.error == 'update_media_type' %}
        <div style="color: red;">Ce type de média n'existe pas dans notre base de données</div>
        {% endif %}
    </section>
</main>
{% if anchor %}
<script defer>window.location.hash = '{{ anchor }}';</script>
{% endif %}
{% endblock %}

{% block script_media_detail %}
<script src="{% static 'js/media_detail.js' %}" defer></script>
{% endblock %}