{% extends 'base.html' %}
{% load static %}

{% block members_management %}
<main>
  <h1>Gestion des membres de la médiathèque</h1>
  <section id="create-member-section">
    <h2>Créer un membre</h2>
    <form action="" method="post" novalidate>
      {% csrf_token %}
      {{ create_member }}
      <input type="submit" name="submit_create_member" value="Enregistrer">
    </form>
    {% if request.GET.success == 'create_member' %}
    <p style="color:green">Le nouveau membre est bien enregistré</p>
    {% endif %}
  </section>
  <section id="update-member-section">
    <h2>Modifier un membre</h2>
      <form action="" method="post" novalidate>
          {% csrf_token %}
          {{ update_member }}
          <div id="member-error-update"></div>
          <input type="submit" name="submit_update_member" value="Modifier">
      </form>
      {% if request.GET.success == 'update_member' %}
      <p style="color:green">Les modifications apportées ont bien été enregistrées</p>
      {% endif %}
      {% if request.GET.error == 'update_member' %}
      <p style="color:red">L'identifiant renseigné ne correspond à aucun membre enregistré</p>
      {% endif %}
  </section>
  <section id="delete-member-section">
    <h2>Supprimer un membre</h2>
      <form action="" method="post" novalidate>
          {% csrf_token %}
          {{ delete_member }}
          <div id="member-info-delete"></div>
          <input type="submit" name="submit_delete_member" value="Supprimer">
      </form>
      {% if request.GET.success == 'delete_member' %}
      <p style="color:green">Le membre a bien été supprimé</p>
      {% endif %}
      {% if request.GET.error == 'delete_member' %}
      <p style="color:red">L'identifiant renseigné ne correspond à aucun membre enregistré</p>
      {% endif %}
      {% if request.GET.no_delete == 'delete_member' %}
      <p style="color:red">Ce membre ne peut pas être supprimé car il a des emprunts en cours</p>
      {% endif %}
  </section>
  <section>
    <h2>Liste des membres</h2>
    <label for="member-search-bar">Rechercher</label>
    <input type="text" name="member_search_bar" id="member-search-bar">
    <table>
        <thead>
            <tr>
                <th>Identifiant</th>
                <th>Nom</th>
                <th>Prénom</th>
                <th>Nombre d'emprunt en cours</th>
                <th>Interdit d'emprunt</th>
            </tr>
        </thead>
        <tbody>
            {% for member in members %}
            <tr class="member">
                <td>{{ member.pk }}</td>
                <td>{{ member.last_name }}</td>
                <td>{{ member.first_name }}</td>
                <td>{{ member.nb_current_borrowings }}</td>
                <td>{% if member.is_blocked %} Oui {% else %} Non {% endif %}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
  </section>
</main>
{% if anchor %}
<script defer>window.location.hash = '{{ anchor }}';</script>
{% endif %}
{% endblock %}

{% block script_member_detail %}
<script src="{% static 'js/member_detail.js' %}" defer></script>
{% endblock %}