{% load static %}
<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Retrouvez livres, CD, DVD et jeux de société à la médiathèque Notre livre, notre media. Livres, CD et DVD empruntables, jeux de société consultables sur place.">
    <link rel="icon" type="image/x-icon" href="{% static 'favicon.png' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <title>Notre livre, notre média, la médiathèque pour tous</title>
    {% block script_medias_list %} {% endblock %}
    {% block script_media_detail %} {% endblock %}
    {% block script_member_detail %} {% endblock %}
    {% block script_borrowing_detail %} {% endblock %}
</head>
<body>
    {% include 'header.html' %}

    {% block home_page %} {% endblock %}
    {% block medias_list %} {% endblock %}
    {% block media_management %} {% endblock %}
    {% block members_management %} {% endblock %}
    {% block borrowings %} {% endblock %}


</body>
</html>