<header>
    <div>
        <input type="text" placeholder="Rechercher">
    </div>
    <nav>
        <ul>
            <li><a href="/">Accueil</a></li>
            <li>
                <a href="{% url 'media' %}">Nos médias</a>
                <ul>
                    <li><a href="#">Livres</a></li>
                    <li><a href="#">CD</a></li>
                    <li><a href="#">DVD</a></li>
                    <li><a href="#">Jeux de plateaux</a></li>
                </ul>
            </li>
        </ul>
    </nav>
</header>